<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bauerlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>

        button {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            font-size: 32px;
            position: absolute;
            right: 16px;
            bottom: 16px;
        }
    </style>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <header class="p-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <h1>Bauerlist</h1>
    </header>

    <button onclick="addItem()">+</button>

    <div class="list-group">
    {% for item in all_items %}
    <div class="list-group-item">
        <input 
            type="checkbox" 
            onclick="toggleCheckbox('{{ item.shopping_item.name }}')" 
            {% if item.done %}checked{% endif %}
        >
        {{ item.shopping_item.name }}
    </div>
    {% endfor %}
    </div>

    <script>
        function addItem() {
            let itemName = prompt('Neues Element hinzufügen');
            let token = '{{ csrf_token }}';

            let formData = new FormData();
            formData.append('itemName', itemName);
            formData.append('csrfmiddlewaretoken', token);

            fetch('/listapp/',{
                method: 'POST',
                body: formData
            });
            window.location.reload();
        }

        function toggleCheckbox(itemName) {
            let token = '{{ csrf_token }}';

            const request = new Request(
                '/listapp/', 
                {
                    method: 'PUT', 
                    headers: {
                        'X-CSRFToken': token,
                        'Content-type': 'application/json; charset=UTF-8'
                    },
                    mode: 'same-origin',
                    body: JSON.stringify({'itemName': itemName})
                });

            fetch(request);
        }
    </script>

</body>

</html>